h3{
	text-align: center;
}
h1{
	text-align: center;
}
form{
	text-align: center;
}
#big{
	color: red;
	text-align: center;
}
#low{
	color: blue;
	text-align: center;
}
#equel {
	color: green;
	text-align: center;
}
